@import "~styles/colors";

:host {
  display: block;
  text-align: left;
}

.input {
  position: relative;

  input,
  label {
    font-size: 13px;
  }

  &.error {
    input {
      border-color: $color-red;
    }

    label {
      color: $color-red !important;
    }
  }

  input {
    width: 100%;
    height: 40px;
    padding: 10px 20px 0;
    border: 1px solid $color-border;
    border-radius: 5px;
    outline: none;
    color: $color-dark;
    transition: border 0.16s ease-in-out ;

    &:hover,
    &:focus {
      border-color: $color-blue;
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    line-height: 40px;
    color: $color-grey;
    pointer-events: none;
    transition: transform 0.16s ease-in-out,
                color 0.16s ease-in-out;
  }

  input:focus ~ label,
  input[value] ~ label {
    transform: translateY(-8px);
  }
}

.message {
  padding-top: 5px;
  font-size: 12px;
  color: $color-red;
}

