<section
  class="input"
  [class.error]="control.dirty && control.errors">
  <input
    [attr.id]="id"
    [attr.value]="control.value || null"
    [formControl]="control">
  <label
    [attr.for]="id">
    {{title}}
  </label>
</section>
<section
  class="message"
  *ngIf="control.dirty && control.errors">
  <span *ngIf="control.errors.required">This field is required</span>
  <span *ngIf="control.errors.pattern">Incorrect pattern</span>
</section>
