<section>
  <h1>Filters</h1>
  <app-rates-filter
    [fields]="filterFields"
    (change)="changeFilters($event)">
  </app-rates-filter>

  <h1>Exchange rates on {{exchangeRates?.date}}</h1>
  <article class="table">
    <div class="block">
      <div class="field base"
        data-title="From"></div>
      <div class="field to"
        data-title="To"></div>
      <div class="field rate"
        data-title="Rate"></div>
      <div class="field action"
        data-title="Action"></div>
    </div>
    <div *ngFor="let rate of exchangeRates?.rates | keyvalue"
         class="block">
      <div class="field base"
        data-title="From">{{exchangeRates.base}}</div>
      <div class="field to"
        data-title="To">{{rate.key}}</div>
      <div class="field rate"
        data-title="Rate">{{rate.value}}</div>
      <div class="field action"
        data-title="Action">
        <a class="button"
          title="Edit"
          uiSref="."
          [uiParams]="{ edit: rate.key }">
          <fa-icon icon="pencil-alt"></fa-icon>
        </a>
      </div>
    </div>
  </article>
</section>
