@import "~styles/colors";

.field {
  &.base {
    width: 27.5%;
  }

  &.to {
    width: 27.5%;
  }

  &.rate {
    width: 30%;
    font-weight: 600;
  }

  &.action {
    width: 15%;
  }
}

.button {
  padding: 10px;
  text-decoration: none;
  color: $color-dark;

  &:hover {
    color: $color-blue;
  }
}
