<form
  autocomplete="off"
  (submit)="makeSubmit($event)"
  novalidate>
  <section class="inputs">
    <app-text-input
      *ngFor="let control of form.controls | keyvalue"
      class="input"
      [title]="control.key | titlecase"
      [control]="control.value">
    </app-text-input>
  </section>
  <button type="submit">
    Go
  </button>
</form>
