@import "styles/colors";

:host {
  text-align: right;
}

section {
  display: flex;
  flex-flow: row wrap;
  margin-left: -10px;
}

.input {
  flex: 1 1 auto;;
  display: inline-block;
  margin: 0 0 10px 10px;
}

button {
  display: none;
  border: 0;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 20px;
  color: $color-white;
  background: $color-blue;

  &:hover,
  &:focus {
    background: $color-blue-dark;
  }
}

@media screen and (max-width: 500px) {
  button {
    display: inline-block;
  }
}
