// There are 2 patters taken
// First for default color palette
// Second for "Call to Action"

// Default
$color-white: #FFFFFF;
$color-black: #000000;

// Palette Grey - https://colorhunt.co/palette/201686
$color-dark: #393B44;
$color-grey: #8D93AB;
$color-border: #D6E0F0;

// Palette Action - https://colorhunt.co/palette/196113
$color-blue: #3282B8;
$color-blue-dark: #0F4C75;

// Red for errors
$color-red: lighten(red, 20%);

// Table
$color-table-default: lighten($color-dark, 70%);
