@import "colors";

.table {
  border: 1px solid $color-border;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.block {
  line-height: 50px;
  border-top: 1px solid $color-border;

  &:first-of-type {
    font-weight: 600;
    border: none;
    border-radius: 5px 5px 0 0;
    background-image: linear-gradient(0deg, darken($color-table-default, 3%) 80%, $color-table-default);

    .field:before {
      content: attr(data-title);
    }
  }

  &:nth-child(2n + 2) {
    background-image: linear-gradient(0deg, lighten($color-table-default, 5%) 80%, lighten($color-table-default, 3%));
  }

  &:nth-child(2n + 3) {
    background-image: linear-gradient(0deg, lighten($color-table-default, 3%) 80%, $color-table-default);
  }

  &:last-of-type {
    border-radius: 0 0 5px 5px;
  }
}

.field {
  display: inline-block;
  padding-left: 20px;
  border-left: 1px solid $color-border;

  &:first-child {
    border-left: 0;
  }
}

@media screen and (max-width: 500px) {
  .table {
    border: 0;
    box-shadow: none;
  }

  .block {
    margin-bottom: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

    &:first-of-type {
      display: none;
    }
  }

  .field {
    display: block;
    width: 100% !important;
    border-left: 0;
    border-bottom: 1px solid $color-border;

    &:before {
      content: attr(data-title);
      display: inline-block;
      width: 150px;
      font-weight: 600;
    }

    &:last-of-type {
      border-bottom: 0;
    }
  }
}
