<section>
  <h1>Filters</h1>
  <app-rates-filter
    [fields]="filterFields"
    (change)="changeFilters($event)">
  </app-rates-filter>

  <h1>History rates on {{exchangeRates?.start_at}} to {{exchangeRates?.end_at}}</h1>
  <article class="table">
    <div class="block">
      <div class="field"
           data-title="Date">
      </div>
      <ng-container
        *ngFor="let groups of exchangeRates?.rates | keyvalue | slice: 0: 1">
        <div *ngFor="let currency of groups.value | keyvalue"
             class="field"
             [attr.data-title]="currency.key">
        </div>
      </ng-container>
    </div>
    <div *ngFor="let date of exchangeRates?.rates | keyvalue"
         class="block">
      <div class="field"
           data-title="Date">
        {{date.key}}
      </div>
      <div *ngFor="let rate of date.value | keyvalue"
           class="field"
           [attr.data-title]="rate.key">
        {{rate.value}}
      </div>
    </div>
  </article>
</section>
