@import "~styles/colors";

:host {
  z-index: 10;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
}

.backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }
}

.content {
  z-index: 1;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  will-change: transform;
  max-height: 98vh;
  border-radius: 10px 10px 13px 13px;
  background-color: $color-white;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.6);
}
