<header>
  <nav>
    <a
      uiSref="main.rates"
      uiSrefActive="active">
      Exchange
    </a>
    <a
      uiSref="main.history"
      uiSrefActive="active">
      History
    </a>
  </nav>
</header>
<section>
  <ui-view></ui-view>
</section>
<footer>
  Test exercise for TET
  <br>
  Made by Pavels Kotovs
</footer>
