@import "~styles/colors";

:host {
  display: block;
  width: 100%;
}

nav,
section,
footer {
  display: block;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  height: 40px;
  background-color: $color-dark;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);

  a {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    line-height: 40px;
    text-decoration: none;
    color: $color-border;
    vertical-align: top;

    &:hover {
      color: $color-white;
    }

    &.active:before {
      content: "";
      position: absolute;
      top: -3px;
      left: 50%;
      width: 6px;
      height: 6px;
      margin-left: -3px;
      background-color: $color-blue;
      transform: rotate(45deg);
    }
  }
}

footer {
  padding-top: 10px;
  text-align: right;
  font-size: 12px;
  color: $color-grey;
}
