<form
  [formGroup]="form"
  autocomplete="off"
  (submit)="saveForm($event)"
  novalidate>
  <header>
    <h1>Edit rates {{base}} to {{toRate}}</h1>
    <h2>You can edit exchange rate here and it will be saved on local storage</h2>
  </header>
  <section>
    <app-text-input
      title="Rate"
      [control]="form.get('rate')">
    </app-text-input>
  </section>
  <footer>
    <section class="left">
      <button
        class="cancel"
        appDialogCancel
        type="button">
        Close
      </button>
    </section>
    <section class="right">
      <button
        class="save"
        type="submit">
        Save
      </button>
    </section>
  </footer>
</form>
