@import "~styles/colors";

:host {
  width: 100vw;
  max-width: 320px;
  padding: 30px 30px 60px;
}

header {
  text-align: center;

  h1,
  h2 {
    margin: 0 0 15px 0;
  }

  h1 {
    font-size: 24px;
    color: $color-dark;
  }

  h2 {
    font-size: 12px;
    color: $color-grey;
  }
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 30px;
  line-height: 42px;
  border-top: 1px solid $color-border;

  .left,
  .right {
    display: inline-block;
    width: 50%;
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  button {
    border: 0;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;

    &.cancel {
      padding: 0;
      color: $color-grey;
      background: none;

      &:hover,
      &:focus {
        color: $color-dark;
      }
    }

    &.save {
      padding: 0 20px;
      color: $color-white;
      background: $color-blue;

      &:hover,
      &:focus {
        background: $color-blue-dark;
      }
    }
  }
}
